extends ../layouts/default

include ../mixins/productErrors.pug

block content
  .breadcrumbs
    .container
      ol.breadcrumb.breadcrumb1.animated.wow.slideInLeft(data-wow-delay='.5s')
        li
          a(href='/')
            span.glyphicon.glyphicon-home(aria-hidden='true')
            | Начало
        li.active Създаване на нов продукт
  form#form-createAd.well.form-horizontal(action='/products/create', method='POST', enctype='multipart/form-data')
    - if(errors)
        ul.text-danger 
            each err in errors
                  +getErrorText(err)
    fieldset
      legend.text-center#createProductLegend
        h1#createProductHeader Създайте нов продукт
      .form-group
        label.col-md-4.control-label Име*
        .col-md-4.inputGroupContainer
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-pencil
            input#create-ad-title.form-control(name='title', placeholder=' ', value=model?model.title || '' : '', required='required', type='text')
      .form-group
        label.col-md-4.control-label Цена*
        .col-md-4.inputGroupContainer
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-euro
            input#create-ad-price.form-control(name='price', placeholder=' ', value=model?model.price || '' : '', required='required', type='number', min=0)
      .form-group
        label.col-md-4.control-label Предишна цена*
        .col-md-4.inputGroupContainer
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-euro
            input#create-ad-price.form-control(name='wasPrice', placeholder=' ', value=model?model.wasPrice || '' : '', type='number', min=0)
      .form-group
        label.col-md-4.control-label Тип*
        .col-md-4.inputGroupContainer
          select#create-ad-manufacturer.form-control(name='type', value='wedding', required='required')
            option(value='')
            option(value='baskets', selected= model&&model.type==='baskets') Кошници
            option(value='pots', selected= model&&model.type==='pots') Сакции
            option(value='cards', selected= model&&model.type==='cards') Картички 
            optgroup(label='Букети')
              option(value='circle', selected= model&&model.type==='circle') Кръгли
              option(value='tall', selected= model&&model.type==='tall') Високи
              option(value='wedding', selected= model&&model.type==='wedding') Сватбени
              option(value='extraordinary', selected= model&&model.type==='extraordinary') Нестандартни
      .form-group
        label.col-md-4.control-label Прикачи снимка
        .col-md-4.inputGroupContainer
          input#file.form-control(name='image', placeholder=' ', required='required', type='file', accept='image/*')
      #imgContainer.col-sm-12         
      .form-group
        label.col-md-4.control-label Описание*
        .col-md-4.inputGroupContainer
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-pencil
            textarea#create-ad-description.form-control(name='description', placeholder='Описание', required='')
              =  value=model?model.description || '' : ''
      .form-group
        label.col-md-4.control-label
        .col-md-4
          input.btn.btn-md#createProductButton(value='Добави', type='submit')