extends ../layouts/default

block content
  .breadcrumbs
    .container
      ol.breadcrumb.breadcrumb1.animated.wow.slideInLeft(data-wow-delay='.5s')
        li
          a(href='/')
            span.glyphicon.glyphicon-home(aria-hidden='true')
            | Начало
        li.active Информация за продукт
  .products
    .container
      .col-sm-12
        .col-sm-6.text-center
          img.img-responsive.prodImg(src=model.url, alt=model.url)
        .col-md-6.text-center
          h3.prodName
           = model.title
          br
          small Добавен на: 
            = model.dateCreated.toLocaleDateString()
          h4 Преглеждания: 
            = model.viewsCount
          h4 Добави в любими 
            a(href="/")
              i.glyphicon.glyphicon-heart
          h4 Описание: 
            p
              = model.description || 'Липсва'
          h4 Цена: 
            = model.price ? model.price + '.00 лв.' : 'Цената липсва'
          h4.scratchOverText
            = model.wasPrice ? 'Предишна цена: ' + model.wasPrice + '.00 лв.' : ''
          br
          form(action='#', method='post')
            fieldset#fieldsetHiddenItems
              input(type='hidden', name='id', value=model._id)
              a
                input.btn.btn-warning.btn-md(name='submit', value='Добави в количка', type='button').addToCart
  .clearfix  
