doctype html
html(lang='en')
  head
    link(href='/static/css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
    style(type='text/css').
      html, body{/* IE10+ */ 
          height: 100%;
          background-image: -ms-linear-gradient(bottom, #E6FF82 0%, #F5CA64 33%, #DDFF57 100%);

          /* Mozilla Firefox */ 
          background-image: -moz-linear-gradient(bottom, #E6FF82 0%, #F5CA64 33%, #DDFF57 100%);

          /* Opera */ 
          background-image: -o-linear-gradient(bottom, #E6FF82 0%, #F5CA64 33%, #DDFF57 100%);

          /* Webkit (Safari/Chrome 10) */ 
          background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #E6FF82), color-stop(33, #F5CA64), color-stop(100, #DDFF57));

          /* Webkit (Chrome 11+) */ 
          background-image: -webkit-linear-gradient(bottom, #E6FF82 0%, #F5CA64 33%, #DDFF57 100%);

          /* W3C Markup */ 
          background-image: linear-gradient(to top, #E6FF82 0%, #F5CA64 33%, #DDFF57 100%);}
      .error-template {padding: 40px 15px;text-align: center;}
      .error-actions {margin-top:15px;margin-bottom:15px;}
      .error-actions .btn { margin-right:10px; }
      .error-actions a span { margin-right:5px; }
      #error-img{ mix-blend-mode: lighten; display: flex}
  body
    .container
      .row
        .col-md-12
          .error-template
            h1
              | Oops!
            h2
              | 404 Not Found
            .error-details
              | За съжаление, страницата която търсите не съществува!
            .error-actions
              a.btn.btn-primary.btn-lg(href='/')
                span.glyphicon.glyphicon-home
                | Начална страница