extends /layouts/default.pug

block content
  // start: breadcrumbs
  section.row.breadcrumbs.max-inner
    .columns.col-12
      ul.breadcrumb-list
        li
          a(href='/') Начало
        li Кошници
  // end: breadcrumbs
  // start: sort + product nav
  section.filter-sort
    .row.max-inner
      .columns.col-2.sort-options
        span Size:
        form
          label.select-label(for='size-select')
            select#size-select.styled-drop-down(name='size-select')
              option(selected='selected') XS
              option S
              option M
              option L
              option XL
      .columns.col-2.sort-options
        span Material:
        form
          label.select-label(for='material-select')
            select#material-select.styled-drop-down(name='material-select')
              option(selected='selected') Lorem Ipsum
              option Lorem Ipsum
              option Lorem Ipsum
              option Lorem Ipsum
              option Lorem Ipsum
      .columns.col-2.sort-options
        span Color:
        form
          label.select-label(for='color-select')
            select#color-select.styled-drop-down(name='color-select')
              option(selected='selected') All
              option Red
              option Green
              option Yellow
              option Orange
      .columns.col-6.products-paging
        ul
          li
            a(href='#')
              i.fa.fa-caret-left
          li
            a(href='#') 1
          li
            a.current-prod-page(href='#') 2
          li
            a(href='#') 3
          li
            a(href='#')
              i.fa.fa-caret-right
  // end: sort + product nav
  // start: product grid
  section.product-grid.shop-grid
    .row.max-inner.sortable-grid
      // start: grid item
      .columns.col-3.grid-item
        .grid-item-media
          a(href='/product')
            img(src='/images/grid-item-image-1.jpg')
        .grid-item-desc
          h2
            a.grid-item-link(href='/product')
              span.grid-item-meta Lorem ipsum
              hr
              span.grid-item-title consectetur adipisicing
              span.grid-item-price $220.00
      // end: grid item
      // start: grid item
      .columns.col-3.grid-item
        .grid-item-media
          a(href='/product')
            img(src='/images/grid-item-image-2.jpg')
        .grid-item-desc
          h2
            a(href='/product')
              span.grid-item-meta Dolor sit
              hr
              span.grid-item-title Dolore magna aliqua
              span.grid-item-price $187.00
      // end: grid item
      // start: grid item
      .columns.col-3.grid-item
        .grid-item-media
          a(href='/product')
            img(src='/images/grid-item-image-3.jpg')
        .grid-item-desc
          h2
            a(href='product.html')
              span.grid-item-meta Duis aute irure
              hr
              span.grid-item-title Dolor in reprehenderit
              span.grid-item-price $380.00
      // end: grid item
      // start: grid item
      .columns.col-3.grid-item
        .grid-item-media
          a(href='/product')
            img(src='/images/grid-item-image-4.jpg')
        .grid-item-desc
          h2
            a(href='/product')
              span.grid-item-meta Enim ad minim 
              hr
              span.grid-item-title  Nemo enim ipsam
              span.grid-item-price $130.00
      // end: grid item
      // start: grid item
      .columns.col-3.grid-item
        .grid-item-media
          a(href='/product')
            img(src='/images/grid-item-image-5.jpg')
        .grid-item-desc
          h2
            a(href='/product')
              span.grid-item-meta Enim ad minim 
              hr
              span.grid-item-title  Nemo enim ipsam
              span.grid-item-price $130.00
      // end: grid item
      // start: grid item
      .columns.col-3.grid-item
        .grid-item-media
          a(href='/product')
            img(src='/images/grid-item-image-6.jpg')
        .grid-item-desc
          h2
            a(href='/product')
              span.grid-item-meta Enim ad minim 
              hr
              span.grid-item-title  Nemo enim ipsam
              span.grid-item-price $130.00
      // end: grid item
      // start: grid item
      .columns.col-3.grid-item
        .grid-item-media
          a(href='/product')
            img(src='/images/grid-item-image-7.jpg')
        .grid-item-desc
          h2
            a(href='/product')
              span.grid-item-meta Enim ad minim 
              hr
              span.grid-item-title  Nemo enim ipsam
              span.grid-item-price $130.00
      // end: grid item
      // start: grid item
      .columns.col-3.grid-item
        .grid-item-media
          a(href='/product')
            img(src='/images/grid-item-image-8.jpg')
        .grid-item-desc
          h2
            a(href='/product')
              span.grid-item-meta Enim ad minim 
              hr
              span.grid-item-title  Nemo enim ipsam
              span.grid-item-price $130.00
      // end: grid item
  // end: product grid
  // start: bottom pagination
  section.product-pagination
    .row.max-inner
      .columns.col-12
        ul.paging-list
          li
            a(href='#')
              i.fa.fa-caret-left
          li
            a(href='#') 1
          li
            a.current-prod-page(href='#') 2
          li
            a(href='#') 3
          li
            a(href='#')
              i.fa.fa-caret-right
  // end: bottom pagination
