extends /layouts/default.pug

block content
    // start: breadcrumbs
    section.row.breadcrumbs.max-inner
      .columns.col-12
        ul.breadcrumb-list
          li
            a(href='/') Home
          li Cart
    // end: breadcrumbs
    // start: main content
    section.main-content
      .row.max-inner
        .columns.col-12
          // start: cart form
          form
            table.cart-table(cellspacing='0')
              thead
                tr
                  th.product-thumbnail  
                  th.product-description(colspan='1') Items
                  th.product-price Price
                  th.product-quantity Quantity
                  th.product-total Total
                  th.product-remove  
              tbody
                // start: cart item
                tr.cart-item
                  td.product-thumbnail
                    a(href='/product')
                      img(src='/images/cart-image-1.jpg')
                  td.product-description
                    h3
                      a(href='/product') Lorem ipsum dolor
                    p
                      | Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.
                    p
                      strong Size:
                      |  XS
                      br
                      strong Color:
                      |  Black & gray
                      br
                      strong Type:
                      |  Slim
                  td.product-price
                    | $220.00
                  td.product-quantity
                    label.select-label(for='quantity-select')
                      select#quantity-select.styled-drop-down(name='quantity-select')
                        option(selected='selected') 1
                        option 2
                        option 3
                        option 4
                        option 5
                  td.product-total
                    | $220.00
                  td.product-remove
                    a(href='#') X
                // end: cart item
                // start: cart item
                tr.cart-item
                  td.product-thumbnail
                    a(href='/product')
                      img(src='/images/cart-image-2.jpg')
                  td.product-description
                    h3
                      a(href='/product') Lorem ipsum dolor
                    p
                      | Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.
                    p
                      strong Size:
                      |  XS
                      br
                      strong Color:
                      |  Black & gray
                      br
                      strong Type:
                      |  Slim
                  td.product-price
                    | $220.00
                  td.product-quantity
                    label.select-label(for='quantity-select')
                      select#quantity-select.styled-drop-down(name='quantity-select')
                        option(selected='selected') 1
                        option 2
                        option 3
                        option 4
                        option 5
                  td.product-total
                    | $220.00
                  td.product-remove
                    a(href='#') X
                // end: cart item
                // start: cart item
                tr.cart-item
                  td.product-thumbnail
                    a(href='/product')
                      img(src='/images/cart-image-3.jpg')
                  td.product-description
                    h3
                      a(href='/product') Lorem ipsum dolor
                    p
                      | Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.
                    p
                      strong Size:
                      |  XS
                      br
                      strong Color:
                      |  Black & gray
                      br
                      strong Type:
                      |  Slim
                  td.product-price
                    | $220.00
                  td.product-quantity
                    label.select-label(for='quantity-select')
                      select#quantity-select.styled-drop-down(name='quantity-select')
                        option(selected='selected') 1
                        option 2
                        option 3
                        option 4
                        option 5
                  td.product-total
                    | $220.00
                  td.product-remove
                    a(href='#') X
                // end: cart item
            // start: cart summary
            table.cart-details
              tbody
                tr.spacer-row
                  td(colspan='5')
                tr
                  td.cart-summary(colspan='3')
                    | Summary
                  td.cart-subtotals
                    span Subtotal:
                    |  $780.00
                  td.cart-shipping
                    span Shipment:
                    |  $25.00
                  td.cart-total
                    span Total to pay:
                    |  $805.00
                  td.cart-submit
                    input.cart-submit(type='submit', name='cart-submit', value='Finalize and pay')
            // end: cart summary
          // end: cart form
    // end: main content
    