extends /layouts/default.pug

block content
  script.
    var newVal;
    var totalItemPrice;
  .breadcrumbs
    .container
      ol.breadcrumb.breadcrumb1.animated.wow.slideInLeft(data-wow-delay='.5s')
        li
          a(href='/')
            span.glyphicon.glyphicon-home(aria-hidden='true')
            | Начало
        li.active Завършване на поръчката
  .checkout
    .container
      h2
        | Количка: 
        span#prodName 3 Products
      .checkout-right
        table.timetable_sub
          thead
            tr
              th Снимка
              th Име
              th Количество
              th Цена
              th Изтрии
          tbody
            - for (var p = 0; p <= 10; p += 1)
                tr.rem1
                  td.invert-image.prodImg
                    a(href='single.html')
                      img.img-responsive(src='/static/images/1.png', alt=' ')
                  td.invert.prodName
                  td.invert
                    .quantity
                      .quantity-select
                        .entry.value-minus
                        .entry.value
                          span 1
                        .entry.value-plus.active
                  td.invert
                    label#prodPrice
                    span лв.
                  td.invert
                    .rem
                      .close1
            //This script is for deleting product from cart
            script.
              $(document).ready(function(c) {
                $('.close1').on('click', $(this), function(c){
                  $('.rem1').fadeOut('slow', function(c){
                    $('.rem1').remove();
                  });
                });
              });
            //This script is for quantity increasing and decreasing
            script.
              $('.value-plus').on('click', function(){
                var divUpd = $(this).parent().find('.value');
                    newVal = parseInt(divUpd.text(), 10)+1;
                divUpd.text(newVal);
              });
              $('.value-minus').on('click', function(){
                var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)-1;
                if(newVal>=1) divUpd.text(newVal);
              });
      .checkout-left
        .checkout-left-basket
          ul
            li
              | Product1 
              span
                
            li
              | Product2 
              span $25.00 
            li
              | Product3 
              span $29.00 
            li
              | Total Service Charges 
              span $15.00
            li
              | Total
              span $84.00
            script.
              var itemPrice = +($('td.invert label').html());
                  totalItemPrice = itemPrice += newVal;
              $('.checkout-left-basket ul li span').html(totalItemPrice);
              //- console.log(newVal);

            a.btn.btn-lg.btn-success(href='#myModal', data-toggle='modal') Завършване на поръчката
            // Modal HTML
            #myModal.modal.fade
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title Потвърдете поръчката
                  .modal-body
                    p Сигурни ли сте, че искате да направите поръчката?
                  .modal-footer
                    button.btn.btn-danger(type='button', data-dismiss='modal') Отказ
                    input(type='submit', value='Направи поръчка').btn.btn-success
    .clearfix