extends /layouts/default.pug

block content
  script.
    var newVal;
    var totalItemPrice;
  .breadcrumbs
    .container
      ol.breadcrumb.breadcrumb1.animated.wow.slideInLeft(data-wow-delay='.5s')
        li
          a(href='/')
            span.glyphicon.glyphicon-home(aria-hidden='true')
            | Начало
        li.active Завършване на поръчката
  .checkout
    .container
      //- h2
      //-   | Количка: 
      //-   span#prodName 3 Products
      .checkout-right
        table.timetable_sub
          thead
            tr
              th Снимка
              th Име
              th Количество
              th Цена в лв.
              th Изтрии
          tbody#checkoutBody
            //Dinamically add products from localStorage
      .checkout-left
        .checkout-left-basket
            //Dinamically add total price

            a.btn.btn-lg.btn-success(href='#myModal', data-toggle='modal') Завършване на поръчката
            // Modal HTML
            #myModal.modal.fade
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title Потвърдете поръчката
                  .modal-body
                    p Сигурни ли сте, че искате да направите поръчката?
                  .modal-footer
                    button.btn.btn-danger(type='button', data-dismiss='modal') Отказ
                    input(type='submit', value='Направи поръчка').btn.btn-success
    .clearfix