extends /layouts/default.pug

block content
  .breadcrumbs
    .container
      ol.breadcrumb.breadcrumb1.animated.wow.slideInLeft(data-wow-delay='.5s')
        li
          a(href='/')
            span.glyphicon.glyphicon-home(aria-hidden='true')
            | Начало
        li.active Доставка
    .about
      .container
        h3.w3_agile_header Условия за доставка
        .about-agileinfo.w3layouts
          .col-md-12.about-wthree-grids.grid-top
            h4 Доставка в рамките на деня - 8:00 до 20:00 часа
            br
            ul.delivery-text
              li
                p
                  span.glyphicon.glyphicon-hand-right
                  | Магазин за цветя "Виктория" доставя цветя, букети, аранжировки и подаръци на територията на гр. София. 
              li
                p
                  span.glyphicon.glyphicon-hand-right
                  | На тази страница са описани начинът на поръчка, условията, сроковете и цените за доставка.
              li
                p
                  span.glyphicon.glyphicon-hand-right
                  | Към момента магазинът предлага САМО доставка с наложен платеж. 
              li
                p
                  span.glyphicon.glyphicon-hand-right
                  | Доставката в рамките на кв. Люлин е 5 лв. 
              li
                p
                  span.glyphicon.glyphicon-hand-right
                  | За всеки друг квартал на София, доставката е 20 лв.
              li
                p
                  span.glyphicon.glyphicon-hand-right
                  | Можете да поръчата онлайн 24/7 в денонощието.
              li
                p
                  span.glyphicon.glyphicon-hand-right
                  | Доставката се извършва на следващия ден след потвърждение от клиента по телефона. 
  .clearfix