extends /layouts/default.pug

block content
		// HOME SLIDER
		.slider-wrap.home-1-slider
			#mainSlider.nivoSlider.slider-image
				img(src='/static/img/slider/1.jpg', alt='main slider', title='#htmlcaption1')
				img(src='/static/img/slider/2.jpg', alt='main slider', title='#htmlcaption2')
			#htmlcaption1.nivo-html-caption.slider-caption-1
				.slider-progress
				.slide1-text.slide-text
					.middle-text
						.cap-title.wow.slideInRight(data-wow-duration='.9s', data-wow-delay='0s')
							h1 Exclusive Jewelry
						.cap-dec.wow.slideInRight(data-wow-duration='1.3s', data-wow-delay='0s')
							h2 to express personality
						.cap-readmore.wow.fadeInUpBig(data-wow-duration='1.5s', data-wow-delay='0s')
							a(href='#') Shop Now
			#htmlcaption2.nivo-html-caption.slider-caption-2
				.slider-progress
				.slide2-text.slide-text
					.middle-text
						.cap-title.wow.bounceInDown(data-wow-duration='.9s', data-wow-delay='0s')
							h1 Exclusive Jewelry
						.cap-dec.wow.bounceInRight(data-wow-duration='1.5s', data-wow-delay='0s')
							h2 to express personality
						.cap-readmore.wow.bounceInUp(data-wow-duration='1.3s', data-wow-delay='.5s')
							a(href='#') Shop Now
		// HOME SLIDER
		.featured-product.section.fix
			// start Featured Product Area
			.container
				.row
					.section-title
						h2 Weekly Featured Products
						.underline
					.col-sm-12
						// Featured slider Area Start
						.feature-pro-slider.owl-carousel
							// Single Product Start
							.product-item.fix
								.product-img-hover
									// Product image
									a.pro-image.fix(href='product-details.html')
										img(src='/static/img/featured/1.jpg', alt='featured')
									// Product action Btn
									.product-action-btn
										a.quick-view(href='#')
											i.fa.fa-search
										a.favorite(href='#')
											i.fa.fa-heart-o
										a.add-cart(href='#')
											i.fa.fa-shopping-cart
								.pro-name-price-ratting
									// Product Name
									.pro-name
										a(href='product-details.html') Product Name Demo
									// Product Ratting
									.pro-ratting
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star-half-o
									// Product Price
									.pro-price.fix
										p
											span.old $165
											span.new $150
							// Single Product End
							// Single Product Start
							.product-item.fix
								.product-img-hover
									// Product image
									a.pro-image.fix(href='product-details.html')
										img(src='/static/img/featured/2.jpg', alt='featured')
									// Product action Btn
									.product-action-btn
										a.quick-view(href='#')
											i.fa.fa-search
										a.favorite(href='#')
											i.fa.fa-heart-o
										a.add-cart(href='#')
											i.fa.fa-shopping-cart
								.pro-name-price-ratting
									// Product Name
									.pro-name
										a(href='product-details.html') Product Name Demo
									// Product Ratting
									.pro-ratting
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star-half-o
									// Product Price
									.pro-price.fix
										p
											span.old $165
											span.new $150
							// Single Product End
							// Single Product Start
							.product-item.fix
								.product-img-hover
									// Product image
									a.pro-image.fix(href='product-details.html')
										img(src='/static/img/featured/3.jpg', alt='featured')
									// Product action Btn
									.product-action-btn
										a.quick-view(href='#')
											i.fa.fa-search
										a.favorite(href='#')
											i.fa.fa-heart-o
										a.add-cart(href='#')
											i.fa.fa-shopping-cart
								.pro-name-price-ratting
									// Product Name
									.pro-name
										a(href='product-details.html') Product Name Demo
									// Product Ratting
									.pro-ratting
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star-half-o
									// Product Price
									.pro-price.fix
										p
											span.old $165
											span.new $150
							// Single Product End
							// Single Product Start
							.product-item.fix
								.product-img-hover
									// Product image
									a.pro-image.fix(href='product-details.html')
										img(src='/static/img/featured/4.jpg', alt='featured')
									// Product action Btn
									.product-action-btn
										a.quick-view(href='#')
											i.fa.fa-search
										a.favorite(href='#')
											i.fa.fa-heart-o
										a.add-cart(href='#')
											i.fa.fa-shopping-cart
								.pro-name-price-ratting
									// Product Name
									.pro-name
										a(href='product-details.html') Product Name Demo
									// Product Ratting
									.pro-ratting
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star-half-o
									// Product Price
									.pro-price.fix
										p
											span.old $165
											span.new $150
							// Single Product End
							// Single Product Start
							.product-item.fix
								.product-img-hover
									// Product image
									a.pro-image.fix(href='product-details.html')
										img(src='/static/img/featured/1.jpg', alt='featured')
									// Product action Btn
									.product-action-btn
										a.quick-view(href='#')
											i.fa.fa-search
										a.favorite(href='#')
											i.fa.fa-heart-o
										a.add-cart(href='#')
											i.fa.fa-shopping-cart
								.pro-name-price-ratting
									// Product Name
									.pro-name
										a(href='product-details.html') Product Name Demo
									// Product Ratting
									.pro-ratting
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star-half-o
									// Product Price
									.pro-price.fix
										p
											span.old $165
											span.new $150
							// Single Product End
							// Single Product Start
							.product-item.fix
								.product-img-hover
									// Product image
									a.pro-image.fix(href='product-details.html')
										img(src='/static/img/featured/2.jpg', alt='featured')
									// Product action Btn
									.product-action-btn
										a.quick-view(href='#')
											i.fa.fa-search
										a.favorite(href='#')
											i.fa.fa-heart-o
										a.add-cart(href='#')
											i.fa.fa-shopping-cart
								.pro-name-price-ratting
									// Product Name
									.pro-name
										a(href='product-details.html') Product Name Demo
									// Product Ratting
									.pro-ratting
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star-half-o
									// Product Price
									.pro-price.fix
										p
											span.old $165
											span.new $150
							// Single Product End
							// Single Product Start
							.product-item.fix
								.product-img-hover
									// Product image
									a.pro-image.fix(href='product-details.html')
										img(src='/static/img/featured/3.jpg', alt='featured')
									// Product action Btn
									.product-action-btn
										a.quick-view(href='#')
											i.fa.fa-search
										a.favorite(href='#')
											i.fa.fa-heart-o
										a.add-cart(href='#')
											i.fa.fa-shopping-cart
								.pro-name-price-ratting
									// Product Name
									.pro-name
										a(href='product-details.html') Product Name Demo
									// Product Ratting
									.pro-ratting
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star-half-o
									// Product Price
									.pro-price.fix
										p
											span.old $165
											span.new $150
							// Single Product End
							// Single Product Start
							.product-item.fix
								.product-img-hover
									// Product image
									a.pro-image.fix(href='product-details.html')
										img(src='/static/img/featured/4.jpg', alt='featured')
									// Product action Btn
									.product-action-btn
										a.quick-view(href='#')
											i.fa.fa-search
										a.favorite(href='#')
											i.fa.fa-heart-o
										a.add-cart(href='#')
											i.fa.fa-shopping-cart
								.pro-name-price-ratting
									// Product Name
									.pro-name
										a(href='product-details.html') Product Name Demo
									// Product Ratting
									.pro-ratting
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star
										i.on.fa.fa-star-half-o
									// Product Price
									.pro-price.fix
										p
											span.old $165
											span.new $150
							// Single Product End
						// Featured slider Area End
		// End Featured Product Area
		.banner-area.fix
			// Product Offer Area Start
			.col-sm-6.sin-banner
				a(href='#')
					img(src='/static/img/offer/offer-1.jpg', alt='')
					.wrap
						h2 Bracelets
						p perspiciatis unde omnis iste natus error sit voluptatem accm doloremque antium
			.col-sm-4.sin-banner
				a(href='#')
					img(src='/static/img/offer/offer-2.jpg', alt='')
					.wrap
						h2 Earrings
						p perspiciatis unde omnis iste natus error sit voluptatem accm doloremque antium
			.col-sm-2.hidden-xs.sin-banner.text-1
				img(src='/static/img/offer/banner-bg.jpg', alt='')
				.banner-text
					h1
						span New
					h2 Arrivals
					p perspiciatis unde omnis iste natus error sit voluptatem accm doloremque antium
					a(href='#') Shop Now
			.col-sm-2.hidden-xs.sin-banner.clear.text-2
				img(src='/static/img/offer/banner-bg-2.jpg', alt='')
				.banner-text
					h1
						| Sales 
						span Up to
					h2
						span 30%
						| off
					a(href='#') Shop Now
			.col-sm-6.sin-banner
				a(href='#')
					img(src='/static/img/offer/offer-3.jpg', alt='')
					.wrap
						h2 Rings
						p perspiciatis unde omnis iste natus error sit voluptatem accm doloremque antium
			.col-sm-4.sin-banner
				a(href='#')
					img(src='/static/img/offer/offer-4.jpg', alt='')
					.wrap
						h2 Necklaces
						p perspiciatis unde omnis iste natus error sit voluptatem accm doloremque antium
		// Product Offer Area End
		.tab-product-area.section.fix
			// Start Product Area
			.container
				.row
					// Nav tabs
					ul.tabs-list(role='tablist')
						li.active
							a(href='#new', data-toggle='tab') NEW ARRIVALS
						li
							a(href='#feature', data-toggle='tab') FEATURED
						li
							a(href='#b-sales', data-toggle='tab') BEST SELLERS
						li
							a(href='#trending', data-toggle='tab') TRENDING
					// Tab panes
					.tab-content
						#new.tab-pane.fade.in.active
							.tab-pro-slider.new-product.owl-carousel
								.single-product-item.fix
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/1.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item.fix
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/6.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item.fix
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/7.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item.fix
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/4.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item.fix
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/1.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item.fix
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/6.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item.fix
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/7.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item.fix
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/4.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
						#feature.tab-pane.fade
							.tab-pro-slider.feature-product.owl-carousel
								.single-product-item.fix
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item.fix
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item.fix
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/4.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/1.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item.fix
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/6.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/7.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item.fix
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item.fix
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item.fix
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/4.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/1.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item.fix
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/6.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/7.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
						#b-sales.tab-pane.fade
							.tab-pro-slider.best-product.owl-carousel
								.single-product-item
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/10.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/1.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/4.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/6.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/10.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/1.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/4.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/6.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
						#trending.tab-pane.fade
							.tab-pro-slider.trending-product.owl-carousel
								.single-product-item
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/6.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/4.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/9.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/10.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/1.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/8.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/3.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/2.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/6.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/4.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/9.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/10.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
								.single-product-item
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/1.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
									// Single Product Start
									.product-item.fix
										.product-img-hover
											// Product image
											a.pro-image.fix(href='product-details.html')
												img(src='/static/img/product/8.jpg', alt='product')
											// Product action Btn
											.product-action-btn
												a.quick-view(href='#')
													i.fa.fa-search
												a.favorite(href='#')
													i.fa.fa-heart-o
												a.add-cart(href='#')
													i.fa.fa-shopping-cart
										.pro-name-price-ratting
											// Product Name
											.pro-name
												a(href='product-details.html') Product Name Demo
											// Product Ratting
											.pro-ratting
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star
												i.on.fa.fa-star-half-o
											// Product Price
											.pro-price.fix
												p
													span.old $165
													span.new $150
									// Single Product End
		// End Product Area
		.magic-area.fix
			// Start Magic Area
			.col-sm-12.col-md-6.image
				a(href='#')
					img(src='/static/img/magic.jpg', alt='magic')
			.col-sm-12.col-md-6.content
				h2 Use Jewelrys magic
				h3 buy fine jewelry
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
				a(href='#') Shop Now
		// End Magic Area
		.blog-area.section.fix
			// Start Blog Area
			.container
				.row
					.section-title
						h2 Latest From Blog
						.underline
					.blog-slider.owl-carousel
						.single-blog
							.content.fix
								a.image.fix(href='blog-details.html')
									img(src='/static/img/blog/blog-1.jpg', alt='')
									.date
										h4 25
										h5 Aug
								h2
									a.title(href='blog-details.html') Lorem ipsum dolor sit amet
								.meta
									a(href='#')
										i.fa.fa-pencil-square-o
										| John Lee
									a(href='#')
										i.fa.fa-calendar
										| 2 Days ago
									a(href='#')
										i.fa.fa-comments
										| 12 Comments
								p
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim niam.
						.single-blog
							.content.fix
								a.image.fix(href='blog-details.html')
									img(src='/static/img/blog/blog-2.jpg', alt='')
									.date
										h4 25
										h5 Aug
								h2
									a.title(href='blog-details.html') Lorem ipsum dolor sit amet
								.meta
									a(href='#')
										i.fa.fa-pencil-square-o
										| John Lee
									a(href='#')
										i.fa.fa-calendar
										| 2 Days ago
									a(href='#')
										i.fa.fa-comments
										| 12 Comments
								p
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim niam.
						.single-blog
							.content.fix
								a.image.fix(href='blog-details.html')
									img(src='/static/img/blog/blog-3.jpg', alt='')
									.date
										h4 25
										h5 Aug
								h2
									a.title(href='blog-details.html') Lorem ipsum dolor sit amet
								.meta
									a(href='#')
										i.fa.fa-pencil-square-o
										| John Lee
									a(href='#')
										i.fa.fa-calendar
										| 2 Days ago
									a(href='#')
										i.fa.fa-comments
										| 12 Comments
								p
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim niam.
						.single-blog
							.content.fix
								a.image.fix(href='blog-details.html')
									img(src='/static/img/blog/blog-4.jpg', alt='')
									.date
										h4 25
										h5 Aug
								h2
									a.title(href='blog-details.html') Lorem ipsum dolor sit amet
								.meta
									a(href='#')
										i.fa.fa-pencil-square-o
										| John Lee
									a(href='#')
										i.fa.fa-calendar
										| 2 Days ago
									a(href='#')
										i.fa.fa-comments
										| 12 Comments
								p
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim niam.
		// End Blog Area
		.funfact.section.fix
			// Start Fun Factor Area
			.container
				.row
					.section-title
						h2 Fun Factor
						.underline
					.col-xs-6.col-sm-3
						.fun-factor
							.fun-factor-in
								i.fa.fa-user
								.fun-factor-out
							p.timer(data-from='0', data-to='11250')
							h4 Happy Customers
					.col-xs-6.col-sm-3
						.fun-factor
							.fun-factor-in
								i.fa.fa-database
								.fun-factor-out
							p.timer(data-from='0', data-to='7500')
							h4 Items
					.col-xs-6.col-sm-3
						.fun-factor
							.fun-factor-in
								i.fa.fa-eye
								.fun-factor-out
							p.timer(data-from='0', data-to='2050')
							h4 Views
					.col-xs-6.col-sm-3
						.fun-factor
							.fun-factor-in
								i.fa.fa-money
								.fun-factor-out
							p.timer(data-from='0', data-to='1550')
							h4 Sales
		// Start Fun Factor Area
		.testimonial-area.fix
			// Start Testimonial Area
			.overlay.section
				.container
					.row
						.col-sm-offset-0.col-sm-12.col-md-offset-2.col-md-8
							.testimonial-slider.owl-carousel
								.testimonial-item
									.image.fix
										img(src='/static/img/testimonial/testimonial.jpg', alt='')
									.content.fix
										p
											| Lorem ipsum dolor sit amet, consectetur adiising elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
										h3 Zasika Williams
								.testimonial-item
									.image.fix
										img(src='/static/img/testimonial/testimonial.jpg', alt='')
									.content.fix
										p
											| Lorem ipsum dolor sit amet, consectetur adiising elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
										h3 Zasika Williams
		// End Testimonial Area
		.brand-area.section.fix
			// Start Brand Area
			.container
				.row
					.section-title
						h2 Our Brands
						.underline
					.brand-slider.owl-carousel
						.brand-item
							img(src='/static/img/brand/brand-1.png', alt='')
						.brand-item
							img(src='/static/img/brand/brand-2.png', alt='')
						.brand-item
							img(src='/static/img/brand/brand-3.png', alt='')
						.brand-item
							img(src='/static/img/brand/brand-4.png', alt='')
						.brand-item
							img(src='/static/img/brand/brand-5.png', alt='')
						.brand-item
							img(src='/static/img/brand/brand-1.png', alt='')
						.brand-item
							img(src='/static/img/brand/brand-2.png', alt='')
						.brand-item
							img(src='/static/img/brand/brand-3.png', alt='')
						.brand-item
							img(src='/static/img/brand/brand-4.png', alt='')
						.brand-item
							img(src='/static/img/brand/brand-5.png', alt='')
		// End Brand Area
		.support-area.section.fix
			// Start Support Area
			.container
				.row
					.support.col-sm-3
						i.fa.fa-thumbs-up
						h3 High quality
						p Lorem ipsum dolor sit amet, conseetur adipiscing elit, consectetur
					.support.col-sm-3
						i.fa.fa-bus
						h3 Fast Delivery
						p Lorem ipsum dolor sit amet, conseetur adipiscing elit, consectetur
					.support.col-sm-3
						i.fa.fa-phone
						h3 24/7 support
						p Lorem ipsum dolor sit amet, conseetur adipiscing elit, consectetur
					.support.col-sm-3
						i.fa.fa-random
						h3 14 - Day Returns
						p Lorem ipsum dolor sit amet, conseetur adipiscing elit, consectetur
					