extends /layouts/default.pug

block content
  .breadcrumbs
    .container
      ol.breadcrumb.breadcrumb1.animated.wow.slideInLeft(data-wow-delay='.5s')
        li
          a(href='/')
            span.glyphicon.glyphicon-home(aria-hidden='true')
            | Начало
        li.active Вход
  .login
    .container
      h2 Вход
      .login-form-grids.animated.wow.slideInUp(data-wow-delay='.5s')
        if (model && model.err)
          p.error-message
            span.text-danger
              | Невалидно потребителско име или парола
        form(action='/login', method="POST")
          input(type='text', placeholder='Потребителско име', required='required', name='username', value=model?model.username:'')
          input(type='password', placeholder='Парола', required='required', name='password')
          input(type='submit', value='Влез в своя профил')
      h4 Нямате регистрация?
      p
        a(href='/register') Регистрайте се
        |  или се върнете се към началната страница
        a(href='/')
          | Начало
          span.glyphicon.glyphicon-menu-right(aria-hidden='true')