extends /layouts/default.pug

block content
  .container
    h2.text-center Наложен платеж
    .panel.panel-default
       .panel-body.text-justify
          | Можете да заплатите вашата поръчка при получаване на адрес.
