extends /layouts/default.pug

block content
  .breadcrumbs
    .container
      ol.breadcrumb.breadcrumb1.animated.wow.slideInLeft(data-wow-delay='.5s')
        li
          a(href='/')
            span.glyphicon.glyphicon-home(aria-hidden='true')
            | Начало
        li.active Начини на плащане
    .products
      .container
        .col-md-4.products-left
          .categories
            a(href="/payOnDelivery")
              h2 Наложен платеж
              img(src="static/images/payOnDelivery.jpg").paymentImages
        .col-md-4.products-left
          .categories
            a(href="/paypal-payment")
              h2 PayPal
              img(src="static/images/paypal.jpg").paymentImages
        .col-md-4.products-left
          .categories
            a(href="/card-payment")
              h2 Кредитна/дебитна карта
              img(src="static/images/creditCardPayment.jpg").paymentImages            
      .clearfix