extends /layouts/default.pug

block content
  .breadcrumbs
    .container
      ol.breadcrumb.breadcrumb1.animated.wow.slideInLeft(data-wow-delay='.5s')
        li
          a(href='/')
            span.glyphicon.glyphicon-home(aria-hidden='true')
            | Начало
        li.active Наложен платеж
    .about
      .container
        h3.w3_agile_header Наложен платеж
        .about-agileinfo.w3layouts
          .col-md-12.about-wthree-grids.grid-top
            h4 Платете при получаване на поръчката
            br
            p.top.text-justify
              | Към настоящия момент магазин за цветя "Виктория" разполага само с опция за заплащане - "Наложен платеж". 
              | При наложен платеж клиентите на онлайн магазина заплащат поръчката си на куриера, който ги посещава с доставката.
              | Веднага след направена поръчка клиентът трябва да очаква позвъняване от наша страна за потвърждение на поръчката.
            br
            p.top.text-justify
              | Магазинът може да бъде посетен и на адрес: гр. София, кв. Люлин 4, Кооперативен пазар. 
            p.top.text-justify
              | Работно време: 24/7.
  .clearfix

