extends /layouts/default.pug

block content
  .breadcrumbs
    .container
      ol.breadcrumb.breadcrumb1.animated.wow.slideInLeft(data-wow-delay='.5s')
        li
          a(href='/payment')
            span.glyphicon.glyphicon-home(aria-hidden='true')
            | Върни се
        li.active Плащане с PayPal
    br
    br
    .container
      .col-sm-12
        h2.text-center Очаквайте скоро...
        br
      .col-sm-12
        .loading
          .hourglass
            .hourglass-top
              .sand-top
            .hourglass-bottom
              .sand-bottom
  .clearfix  

