extends /layouts/default.pug

block content
  .breadcrumbs
    .container
      ol.breadcrumb.breadcrumb1.animated.wow.slideInLeft(data-wow-delay='.5s')
        li
          a(href='/')
            span.glyphicon.glyphicon-home(aria-hidden='true')
            | Начало
        li.active Информация за продукт
  .products
    .container
      .agileinfo_single
        .col-md-4.agileinfo_single_left
          img#example.img-responsive(src='static/images/si1.jpg', alt=' ')
        .col-md-8.agileinfo_single_right
          h2 KHARAMORRA Khakra - Hariyali
          .rating1
            span.starRating
              input#rating5(type='radio', name='rating', value='5')
              label(for='rating5') 5
              input#rating4(type='radio', name='rating', value='4')
              label(for='rating4') 4
              input#rating3(type='radio', name='rating', value='3', checked='')
              label(for='rating3') 3
              input#rating2(type='radio', name='rating', value='2')
              label(for='rating2') 2
              input#rating1(type='radio', name='rating', value='1')
              label(for='rating1') 1
          .w3agile_description
            h4 Description :
            p
              | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              | officia deserunt mollit anim id est laborum.Duis aute irure dolor in
              | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
              | pariatur.
          .snipcart-item.block
            .snipcart-thumb.agileinfo_single_right_snipcart
              h4.m-sing
                | $21.00 
                span $25.00
            .snipcart-details.agileinfo_single_right_details
              form(action='#', method='post')
                fieldset
                  input(type='hidden', name='cmd', value='_cart')
                  input(type='hidden', name='add', value='1')
                  input(type='hidden', name='business', value=' ')
                  input(type='hidden', name='item_name', value='pulao basmati rice')
                  input(type='hidden', name='amount', value='21.00')
                  input(type='hidden', name='discount_amount', value='1.00')
                  input(type='hidden', name='currency_code', value='USD')
                  input(type='hidden', name='return', value=' ')
                  input(type='hidden', name='cancel_return', value=' ')
                  input.button(type='submit', name='submit', value='Добавете в количката')
        .clearfix  
    .newproducts-w3agile
      .container
        h3 Разгледайте още
        .agile_top_brands_grids
          .col-md-3.top_brand_left-1
            .hover14.column
              .agile_top_brand_left_grid
                .agile_top_brand_left_grid_pos
                  img.img-responsive(src='static/images/offer.png', alt=' ')
                .agile_top_brand_left_grid1
                  figure
                    .snipcart-item.block
                      .snipcart-thumb
                        a(href='products.html')
                          img(title=' ', alt=' ', src='static/images/14.png')
                        p Fried-gram
                        .stars
                          i.fa.fa-star.blue-star(aria-hidden='true')
                          i.fa.fa-star.blue-star(aria-hidden='true')
                          i.fa.fa-star.blue-star(aria-hidden='true')
                          i.fa.fa-star.blue-star(aria-hidden='true')
                          i.fa.fa-star.gray-star(aria-hidden='true')
                        h4
                          | $35.99 
                          span $55.00
                      .snipcart-details.top_brand_home_details
                        form(action='#', method='post')
                          fieldset
                            input(type='hidden', name='cmd', value='_cart')
                            input(type='hidden', name='add', value='1')
                            input(type='hidden', name='business', value=' ')
                            input(type='hidden', name='item_name', value='Fortune Sunflower Oil')
                            input(type='hidden', name='amount', value='35.99')
                            input(type='hidden', name='discount_amount', value='1.00')
                            input(type='hidden', name='currency_code', value='USD')
                            input(type='hidden', name='return', value=' ')
                            input(type='hidden', name='cancel_return', value=' ')
                            input.button(type='submit', name='submit', value='Add to cart')
          .col-md-3.top_brand_left-1
            .hover14.column
              .agile_top_brand_left_grid
                .agile_top_brand_left_grid_pos
                  img.img-responsive(src='static/images/offer.png', alt=' ')
                .agile_top_brand_left_grid1
                  figure
                    .snipcart-item.block
                      .snipcart-thumb
                        a(href='products.html')
                          img(title=' ', alt=' ', src='static/images/15.png')
                        p Navaratan-dal
                        .stars
                          i.fa.fa-star.blue-star(aria-hidden='true')
                          i.fa.fa-star.blue-star(aria-hidden='true')
                          i.fa.fa-star.blue-star(aria-hidden='true')
                          i.fa.fa-star.blue-star(aria-hidden='true')
                          i.fa.fa-star.gray-star(aria-hidden='true')
                        h4
                          | $30.99 
                          span $45.00
                      .snipcart-details.top_brand_home_details
                        form(action='#', method='post')
                          fieldset
                            input(type='hidden', name='cmd', value='_cart')
                            input(type='hidden', name='add', value='1')
                            input(type='hidden', name='business', value=' ')
                            input(type='hidden', name='item_name', value='basmati rise')
                            input(type='hidden', name='amount', value='30.99')
                            input(type='hidden', name='discount_amount', value='1.00')
                            input(type='hidden', name='currency_code', value='USD')
                            input(type='hidden', name='return', value=' ')
                            input(type='hidden', name='cancel_return', value=' ')
                            input.button(type='submit', name='submit', value='Add to cart')
          .col-md-3.top_brand_left-1
            .hover14.column
              .agile_top_brand_left_grid
                .agile_top_brand_left_grid_pos
                  img.img-responsive(src='static/images/offer.png', alt=' ')
                .agile_top_brand_left_grid_pos
                  img.img-responsive(src='static/images/offer.png', alt=' ')
                .agile_top_brand_left_grid1
                  figure
                    .snipcart-item.block
                      .snipcart-thumb
                        a(href='products.html')
                          img.img-responsive(src='static/images/16.png', alt=' ')
                        p White-peasmatar
                        .stars
                          i.fa.fa-star.blue-star(aria-hidden='true')
                          i.fa.fa-star.blue-star(aria-hidden='true')
                          i.fa.fa-star.blue-star(aria-hidden='true')
                          i.fa.fa-star.blue-star(aria-hidden='true')
                          i.fa.fa-star.gray-star(aria-hidden='true')
                        h4
                          | $80.99 
                          span $105.00
                      .snipcart-details.top_brand_home_details
                        form(action='#', method='post')
                          fieldset
                            input(type='hidden', name='cmd', value='_cart')
                            input(type='hidden', name='add', value='1')
                            input(type='hidden', name='business', value=' ')
                            input(type='hidden', name='item_name', value='Pepsi soft drink')
                            input(type='hidden', name='amount', value='80.00')
                            input(type='hidden', name='discount_amount', value='1.00')
                            input(type='hidden', name='currency_code', value='USD')
                            input(type='hidden', name='return', value=' ')
                            input(type='hidden', name='cancel_return', value=' ')
                            input.button(type='submit', name='submit', value='Add to cart')
          .col-md-3.top_brand_left-1
            .hover14.column
              .agile_top_brand_left_grid
                .agile_top_brand_left_grid_pos
                  img.img-responsive(src='static/images/offer.png', alt=' ')
                .agile_top_brand_left_grid1
                  figure
                    .snipcart-item.block
                      .snipcart-thumb
                        a(href='products.html')
                          img(title=' ', alt=' ', src='static/images/17.png')
                        p Channa-dal
                        .stars
                          i.fa.fa-star.blue-star(aria-hidden='true')
                          i.fa.fa-star.blue-star(aria-hidden='true')
                          i.fa.fa-star.blue-star(aria-hidden='true')
                          i.fa.fa-star.blue-star(aria-hidden='true')
                          i.fa.fa-star.gray-star(aria-hidden='true')
                        h4
                          | $35.99 
                          span $55.00
                      .snipcart-details.top_brand_home_details
                        form(action='#', method='post')
                          fieldset
                            input(type='hidden', name='cmd', value='_cart')
                            input(type='hidden', name='add', value='1')
                            input(type='hidden', name='business', value=' ')
                            input(type='hidden', name='item_name', value='Fortune Sunflower Oil')
                            input(type='hidden', name='amount', value='35.99')
                            input(type='hidden', name='discount_amount', value='1.00')
                            input(type='hidden', name='currency_code', value='USD')
                            input(type='hidden', name='return', value=' ')
                            input(type='hidden', name='cancel_return', value=' ')
                            input.button(type='submit', name='submit', value='Add to cart').addToCart
        .clearfix  
