extends /layouts/default.pug

block content
    // start: breadcrumbs
    section.row.breadcrumbs.max-inner
      .columns.col-12
        ul.breadcrumb-list
          li
            a(href='/') Home
          li Подробности (Име на продукта или категория)
    // end: breadcrumbs
    // start: main content
    section.main-content
      .row.max-inner
        .columns.col-5.product-media
          a(href='#')
            img(src='/images/product-image-1.jpg')
        .columns.col-6.product-info.float-right
          span.product-meta Manufacturer name
          h2 Consectetur adipisicing elit
          span.product-price $220.00
          .row.product-desc
            p
              | Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas.
          // start: product options form
          form(action='cart.html')
            .row.product-options
              .columns.col-4.sort-options
                span.label-text Size:
                label.select-label(for='size-select')
                  select#size-select.styled-drop-down(name='size-select')
                    option(selected='selected') XS
                    option S
                    option M
                    option L
                    option XL
              .columns.col-4.sort-options
                span.label-text Color:
                label.select-label(for='color-select')
                  select#color-select.styled-drop-down(name='color-select')
                    option(selected='selected') Black & Grey
                    option Red
                    option Green
                    option Yellow
                    option Orange
              .columns.col-4.sort-options
                span.label-text Type:
                label.select-label(for='material-select')
                  select#material-select.styled-drop-down(name='material-select')
                    option(selected='selected') Slim
                    option Lorem Ipsum
                    option Lorem Ipsum
                    option Lorem Ipsum
                    option Lorem Ipsum
            .row.product-options
              .columns.col-6
                label.product-quantity(for='product-quantity')
                  span.label-text Quantity:
                  // <input type="text" value="1" id="product-quantity" />
                  input#product-quantity(type='number', value='1')
              .columns.col-6
                button.submit(type='submit')
                  i.fa.fa-shopping-cart
                  |  Add to cart
            form
              // end: product options form
    // end: main content