extends /layouts/default.pug

block content
  .breadcrumbs
    .container
      ol.breadcrumb.breadcrumb1.animated.wow.slideInLeft(data-wow-delay='.5s')
        li
          a(href='/')
            span.glyphicon.glyphicon-home(aria-hidden='true')
            | Начало
        li.active Профил
  .products
    .container
      .row.profile
        .col-sm-4
          .profile-sidebar
            // SIDEBAR MENU
            .profile-usermenu
              ul.nav
                li
                  i.glyphicon.glyphicon-user
                  | Потребителско име
                  p.h3
                    =user.username
                li
                  i.glyphicon.glyphicon-hand-right
                  | Име и Фамилия
                  p.h3
                    =user.names
                li
                  i.glyphicon.glyphicon-hand-right
                  | E-mail адрес
                  p.h3
                    =user.email
                li
                  i.glyphicon.glyphicon-earphone
                  | Телефонен номер
                  p.h3
                    =user.phone                    
                li
                  i.glyphicon.glyphicon-home
                  | Адрес
                  p.h3
                    =user.contactInfo
              // END MENU
              // SIDEBAR BUTTONS
              .profile-userbuttons
                span
                  a.btn.btn-success.btn-sm(href="/profile-edit") Редактирай
            // END SIDEBAR BUTTONS
        .col-sm-8
          .profile-content
            #tabs
              ul
                li
                  a(href='#tabs-1') История на поръчките
                li
                  a(href='#tabs-2') Любими
              #tabs-1
                ul.nav
                  li                  
                    i.glyphicon.glyphicon-hand-right.gly-size
                      label.ordersText
                        | Поръчка 1
                  li                  
                    i.glyphicon.glyphicon-hand-right.gly-size
                      label.ordersText
                        | Поръчка 2 ...   
              #tabs-2
                ul.nav
                  li                  
                    i.glyphicon.glyphicon-heart.gly-size.gly-heart
                      label.ordersText
                      a(href="#")
                        | Продукт 1
                  li                  
                    i.glyphicon.glyphicon-heart.gly-size.gly-heart
                      label.ordersText
                      a(href="#")
                        | Продукт 2..
              script.
                $( function() {
                  $( "#tabs" ).tabs({
                      event: "mouseover"
                  });
                });
  .clearfix
    