extends /layouts/default.pug

block content
  .breadcrumbs
    .container
      ol.breadcrumb.breadcrumb1.animated.wow.slideInLeft(data-wow-delay='.5s')
        li
          a(href='/')
            span.glyphicon.glyphicon-home(aria-hidden='true')
            | Начало
        li.active Профилна информация
  br
  .container
    h1.page-header Профилна информация
    .row
      // left column
      .col-md-4.col-sm-6.col-xs-12
        .text-center
          img.avatar.img-circle.img-thumbnail(src='https://cdn0.iconfinder.com/data/icons/superuser-web-kit/512/686909-user_people_man_human_head_person-512.png', alt='user')
      // edit form column
      .col-md-8.col-sm-6.col-xs-12.personal-info
        .col-lg-4
          label Потребителско име
        .col-lg-8
          p
            =user.username
        .col-lg-4
          label Име и Фамилия
        .col-lg-8
          p
            =user.names
        .col-lg-4
          label E-mail адрес
        .col-lg-8
          p
            =user.email
        .col-lg-4
          label Телефонен номер
        .col-lg-8
          p
            =user.phone
        .col-lg-4
          label Адрес
        .col-lg-8
          p
            =user.contactInfo
        .col-lg-12
          br
          a.btn.btn-success.btn-md(href="/profile-edit") Редактирай
  .container
    h1.page-header
    .row
          .profile-content
            #tabs
              ul
                li
                  a(href='#tabs-1') История на поръчките
                li
                  a(href='#tabs-2') Любими
              #tabs-1
                ul.nav
                  li                  
                    i.glyphicon.glyphicon-hand-right.gly-size
                      label.ordersText
                        | Поръчка 1
                  li                  
                    i.glyphicon.glyphicon-hand-right.gly-size
                      label.ordersText
                        | Поръчка 2 ...   
              #tabs-2
                ul.nav
                  li                  
                    i.glyphicon.glyphicon-heart.gly-size.gly-heart
                      label.ordersText
                      a(href="#")
                        | Продукт 1
                  li                  
                    i.glyphicon.glyphicon-heart.gly-size.gly-heart
                      label.ordersText
                      a(href="#")
                        | Продукт 2..
              script.
                $( function() {
                  $( "#tabs" ).tabs({
                      event: "mouseover"
                  });
                });
    .clearfix