extends /layouts/default.pug

block content
  .breadcrumbs
    .container
      ol.breadcrumb.breadcrumb1.animated.wow.slideInLeft(data-wow-delay='.5s')
        li
          a(href='/')
            span.glyphicon.glyphicon-home(aria-hidden='true')
            | Начало
        li.active Профилна информация
  br
  .container
    h1.page-header Профилна информация
    .row
      // left column
      .col-md-4.col-sm-6.col-xs-12
        .text-center
          img.avatar.img-circle.img-thumbnail(src='https://cdn0.iconfinder.com/data/icons/superuser-web-kit/512/686909-user_people_man_human_head_person-512.png', alt='user')
      // edit form column
      .col-md-8.col-sm-6.col-xs-12.personal-info
        .col-lg-4
          label Потребителско име
        .col-lg-8
          p
            =user.username
        .col-lg-4
          label Име и Фамилия
        .col-lg-8
          p
            =user.names
        .col-lg-4
          label E-mail адрес
        .col-lg-8
          p
            =user.email
        .col-lg-4
          label Телефонен номер
        .col-lg-8
          p
            =user.phone
        .col-lg-4
          label Адрес
        .col-lg-8
          p
            =user.contactInfo
        .col-lg-12
          br
          a.btn.btn-success.btn-md(href="/profile-edit") Редактирай
  .container
    h3.page-header
    .row
      .profile-content
        #tabs
          ul
            li
              a(href='#tabs-1') История на поръчките
            li
              a(href='#tabs-2') Любими
          #tabs-1
            - if (user.orders && user.orders.length)
              - for(let i = 0; i < user.orders.length; i += 1)
                hr
                h2.text-center Поръчка: 
                  = i + 1 
                h3 Статус: 
                  - if (user.orders[i].status === 'pending')
                    = 'чака одобрение'
                  - else
                    = 'доставена'
                .table-responsive
                  table.fixed-table.table.text-left
                    thead
                      tr
                        th Име на продукта
                        th Снимка
                        th Единична цена
                        th Количество
                        th Обща цена
                        th Дата на поръчката
                    tbody
                      - for(let j = 0; j < user.orders[i].products.length; j += 1) 
                        tr.productsRow
                          td.word-wrap-only
                            a.bootstrap-link(href='products/details/' + user.orders[i].products[j]._id)
                              = user.orders[i].products[0].title
                          td.word-wrap-only
                            a.bootstrap-link(href='products/details/' + user.orders[i].products[j]._id)
                              img.order-pic(src=user.orders[i].products[0].url)
                          td.word-wrap-only
                            = user.orders[i].products[j].price + ' лв.'
                          td.word-wrap-only
                            = user.orders[i].products[j].count
                          td.word-wrap-only
                            = user.orders[i].products[j].price * user.orders[i].products[0].count + ' лв.'
                          td.word-wrap-only
                            = moment(user.orders[i].dateCreated).format('MMMM Do YYYY, h:mm:ss a')
            - else 
              p
              | Все още нямате поръчки 
          #tabs-2
            .table-responsive
              table.fixed-table.table.text-left
                thead
                  tr
                    th Име на продукта
                    th Снимка
                    th Единична цена
                    th Описание
                tbody
                  - if (user.favorites && user.favorites.length)
                    - for(var i = 0; i < user.favorites.length; i += 1) 
                        tr.productsRow
                          td.word-wrap-only
                            a.bootstrap-link(href='products/details/' + user.favorites[i]._id) 
                              = user.favorites[i].title
                          td.word-wrap-only
                            a.bootstrap-link(href='products/details/' + user.favorites[i]._id)
                              img.order-pic(src=user.favorites[i].url)
                          td.word-wrap-only
                            = user.favorites[i].price + ' лв.'
                          td.word-wrap-only
                            = user.favorites[i].description
                  - else
                        tr
                          td.text-center(colspan=4)
                            | Нямате любими продукти
          script.
            $( function() {
              $( "#tabs" ).tabs({
                  event: "mouseover"
              });
            });
    .clearfix
  //- .container
  //-   | Поръчки :
  //-   pre
  //-     = JSON.stringify(user.orders, null, 4)
  