extends /layouts/default.pug

block content
  .breadcrumbs
    .container
      ol.breadcrumb.breadcrumb1.animated.wow.slideInLeft(data-wow-delay='.5s')
        li
          a(href='/')
            span.glyphicon.glyphicon-home(aria-hidden='true')
            | Начало
        li.active Регистрация
  .register
    .container
      h2 Регистрация
      .login-form-grids
        h5 Профилна информация
        form#register-form(action='/register', method='POST')
          input(type='text', name='names', placeholder='Име и фамилия', required='required')
          input(type='text', name='phone', placeholder='Телефонен номер', required='required')
          input(type='email', name='email', placeholder='Емейл', required='required')
          input(type='text', name='contactInfo', placeholder='Адрес', required='required')
          //- .register-check-box
          //-   .check
          //-     label.checkbox
          //-       input(type='checkbox', name='checkbox')
          //-       i  
          //-       | Subscribe to Newsletter
          h6 Информация за вход в сайта
          input(type='text', name='username', placeholder='Потребителско име', required='required')
          input(type='password', name='password',  placeholder='Парола', required='required')
          //- .register-check-box
          //-   .check
          //-     label.checkbox
          //-       input(type='checkbox', name='checkbox')
          //-       i  
          //-       | I accept the terms and conditions
          input(type='submit', value='Регистрирай ме')
