extends /layouts/default.pug

block content
  .breadcrumbs
    .container
      ol.breadcrumb.breadcrumb1.animated.wow.slideInLeft(data-wow-delay='.5s')
        li
          a(href='/')
            span.glyphicon.glyphicon-home(aria-hidden='true')
            | Начало
        li.active Регистрация
  .register
    .container
      h2 Регистрация
      .login-form-grids
        h5 Профилна информация
        form(action='#', method='post')
          input(type='text', placeholder='Име', required=' ')
          input(type='text', placeholder='Фамилия', required=' ')
          input(type='text', placeholder='Телефонен номер', required=' ')
          input(type='text', placeholder='Адрес', required=' ')
          input(type='text', placeholder='Снимка', required=' ')
        //- .register-check-box
        //-   .check
        //-     label.checkbox
        //-       input(type='checkbox', name='checkbox')
        //-       i  
        //-       | Subscribe to Newsletter
        h6 Информация за вход в сайта
        form(action='#', method='post')
          input(type='text', placeholder='Потребителско име', required=' ')
          input(type='password', placeholder='Парола', required=' ')
          //- .register-check-box
          //-   .check
          //-     label.checkbox
          //-       input(type='checkbox', name='checkbox')
          //-       i  
          //-       | I accept the terms and conditions
          input(type='submit', value='Регистрирай ме')
