mixin getProductType(type)
    case type
        when 'tall'
           | Високи
        when 'circle'
           | Кръгли
        when 'extraordinary'
           | Нестандартни
        when 'wedding'
           | Сватбени
        when 'pots'
           | Саксии
        when 'cards'
           | Картички
        when 'baskets'
           | Кошници
        default
           | Продукти