doctype html
html
  head
    title
      | Магазин за цветя 'Виктория'
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    
    link(rel='shortcut icon', type='image/x-icon', href='/static/images/favicon.png')
    link(href='/static/css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Bellefair', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Bellefair|Lemonada', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Dancing+Script', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Alegreya', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Philosopher', rel='stylesheet')
    link(href='/static/css/font-awesome.css', rel='stylesheet')
    link(href='/static/css/skdslider.css', rel='stylesheet')
    link(href='/libs/typeahead/style.css', rel='stylesheet', type='text/css', media='all')
    link(href='/libs/toastr/build/toastr.min.css', rel="stylesheet")    
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css')    
    link(href='/static/css/style.css', rel='stylesheet', type='text/css', media='all')
    link(href='/static/css/site/loading.css', rel='stylesheet', type='text/css', media='all')

    script(src='/static/js/jquery-1.11.1.min.js')
    script(src='https://code.jquery.com/ui/1.12.0/jquery-ui.min.js')
    
  body
    // HEADER start
    .container-fluid#nav-color
      .row
        .col-sm-12.text-center
          ul
          - if(isAdmin)
            .col-sm-12
              .col-sm-6
                li.ul-li.pull-left-lg-nav
                  a(href='/profile') Профил
                li.ul-li.pull-left-lg-nav
                  a(href='/products/create') Добави продукт
                li.ul-li.pull-left-lg-nav
                  a(href='/products/delete') Изтрии продукт
                li.ul-li.pull-left-lg-nav
                  a(href='/userslist') Списък с потребители
              .col-sm-6
                li.ul-li.pull-right-lg-nav
                  a(href='/logout') Изход
          - else if(isAuthenticated && !isAdmin)
            li.ul-li.pull-right-lg-nav
              a(href='/logout') Изход
            li.ul-li.pull-left-lg-nav
              label
                | Поръчайте: 0898 838 833
            li.ul-li.pull-right-lg-nav
              a(href='/profile') Профил
            li.ul-li.pull-right-lg-nav
              a(href="/checkout")
                span.glyphicon.glyphicon-shopping-cart
                |  Вашата количка
          - else
            li.ul-li.pull-left-lg-nav
              label
                | Поръчайте: 0898 838 833
            li.ul-li.pull-right-lg-nav
              a(href='/register') Регистрация
            li.ul-li.pull-right-lg-nav
              a(href='/login')  Вход
    .container
      .row
        .col-sm-12
          .col-sm-4.text-center
              label#usernameLabel.text-center-lg-nav
                - if(isAuthenticated)
                  | Здравейте, 
                  = username
          .col-sm-4.text-center
            h1
              a(href='/')#shopTitle Магазин за цветя "Виктория"
          .col-sm-4
            form#search-form.form-group(action='/search/', method='GET')
              .col-sm-12.inputGroupContainer
                .input-group
                  input#autocomplete.autocompleteInput.form-control(type='text', name='title' placeholder='Търси...', autocomplete='off')
                  span.input-group-addon#search-span
                    span
                      i.glyphicon.glyphicon-search#search-glyph
        .clearfix
    .clearfix  
    // HEADER end
    // NAVIGATION start
    .navigation-agileits
      .container
        nav.navbar.navbar-default
          // Brand and toggle get grouped for better mobile display
          .navbar-header.nav_2
            button.navbar-toggle.collapsed.navbar-toggle1(type='button', data-toggle='collapse', data-target='#bs-megadropdown-tabs')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          #bs-megadropdown-tabs.collapse.navbar-collapse
            ul.nav.navbar-nav
              li.active
                a.act(href='/') Начало
              // Mega Menu
              li.dropdown
                a.dropdown-toggle(href='', data-toggle='dropdown')
                  | Букети
                  b.caret
                ul.dropdown-menu.multi-column.columns-3
                  .row
                    .multi-gd-img
                      ul.multi-column-dropdown
                        li
                          a(href='/products/circle') Кръгли
                        li
                          a(href='/products/tall') Високи
                        li
                          a(href='/products/wedding') Сватбени
                        li
                          a(href='/products/extraordinary') Нестандартни
              li
                a(href='/products/baskets') Кошници
              li
                a(href='/products/pots') Саксии
              li
                a(href='/products/cards') Картички
              li
                a(href='/delivery') Доставка
              li
                a(href='/payment') Плащане
              li
                a(href='/contacts') Контакти                
    // NAVIGATION end

    //Here we put different content
    block content

    //FOOTER start
    .footer
      .container
        .w3_footer_grids
          .col-md-4.w3_footer_grid
            h3 Контакти
            ul.address
              li
                i.glyphicon.glyphicon-map-marker(aria-hidden='true')
                | Кооперативен пазар, Люлин 4
                span София
              li
                i.glyphicon.glyphicon-envelope(aria-hidden='true')
                a(href='mailto:info@example.com') cvete_za_vas@gmail.com
              li
                i.glyphicon.glyphicon-earphone(aria-hidden='true')
                | 0898 838 833
          .col-md-4.w3_footer_grid
            h3 Информация за клиента
            ul.info
              li
                i.fa.fa-arrow-right(aria-hidden='true')
                a(href='/login') Вход
              li
                i.fa.fa-arrow-right(aria-hidden='true')
                a(href='/register') Регистрация
              li
                i.fa.fa-arrow-right(aria-hidden='true')
                a(href='/contacts') Контакти
              li
                i.fa.fa-arrow-right(aria-hidden='true')
                a(href='/delivery') Доставка
              li
                i.fa.fa-arrow-right(aria-hidden='true')
                a(href='/payment') Начини на плащане
          .col-md-4.w3_footer_grid
            h5 Абонирайте се за нашите специални предложения
              br
              br
              input#subscriptionEmail.form-control(type='text', name='subscribeEmail', placeholder='E-mail')
              button.btn.btn-success.form-control.emailSubsButton(type="button", value="Изпрати", id="sendSubscribeEmail")
                | Изпрати
          .clearfix  
      .footer-copy
        .container
          p
            | © 2017 Super Market. All rights reserved | Design by 
            a(href='http://w3layouts.com/') W3layouts
    .footer-botm
      .container
        .w3layouts-foot
          ul
            li
              a.w3_agile_facebook(href='#')
                i.fa.fa-facebook(aria-hidden='true')
            li
              a.agile_twitter(href='#')
                i.fa.fa-twitter(aria-hidden='true')
        .clearfix
    //FOOTER end

    script(src='/static/js/bootstrap.min.js')
    script(type='text/javascript', src='/static/js/move-top.js')
    script(type='text/javascript', src='/static/js/easing.js')
    script(src='/static/js/skdslider.min.js')
    script(src='/static/js/site/loading.js')
    script(src='/static/js/search.js')
    script(src="/libs/jquery-zoom/jquery.zoom.min.js")
    script(src="/libs/toastr/build/toastr.min.js")
    script(src='/static/js/toastr-config.js')
    script(type='text/javascript', src='/static/js/template.js')
    script(type='text/javascript', src='/static/js/checkout.js')
    script(type='text/javascript', src='/static/js/ajaxRequests.js')      
    script(src="https://rawgit.com/bassjobsen/Bootstrap-3-Typeahead/master/bootstrap3-typeahead.js")
    
    block scripts